[profile.default]
src = "src"
out = "out"
libs = ["lib"]

# Compiler settings
solc = "0.8.19"
optimizer = true
optimizer_runs = 200
via_ir = true

# Fork settings
eth_rpc_url = "https://eth-mainnet.g.alchemy.com/v2/pLXdY7rYRY10SH_UTLBGH"

# Testing settings
verbosity = 3
ffi = true
gas_limit = 30000000

# Allow larger contracts
bytecode_hash = "none"

[rpc_endpoints]
mainnet = "https://eth-mainnet.g.alchemy.com/v2/pLXdY7rYRY10SH_UTLBGH"
